<!DOCTYPE html>
<html>
	<head>
		<title><%= productName %></title>

		<meta charset="utf-8" />
		<meta name="title" content="<%= productName %>" />
		<meta name="description" content="<%= productDescription %>" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta
			name="viewport"
			content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
		/>

		<!-- Link preview meta data -->
		<meta name="keywords" content="gitlab, search" />
		<meta property="og:title" content="<%= productName %>" />
		<meta property="og:description" content="<%= productDescription %>" />
		<meta property="og:image" content="icons/apple-icon-180x180.png" />
		<meta property="og:url" content="https://www.searchmygitlab.com" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-CSXKYD03Y0"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-CSXKYD03Y0');
		</script>
		<!-- End Google Analytics -->

		<!-- Google Tag Manager -->
		<script>
			(function(w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-TKSP5WH');
		</script>
		<!-- End Google Tag Manager -->

		<link rel="icon" type="image/png" sizes="128x128" href="icons/icon-128x128.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="icons/icon-96x96.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="icons/icon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="icons/icon-16x16.png" />
		<link rel="icon" type="image/ico" href="favicon.ico" />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-TKSP5WH"
				height="0"
				width="0"
				style="display:none;visibility:hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div id="q-app"></div>

		<!-- Our compiled app JS will be injected here -->
	</body>
</html>
